<div class="container dashboard">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 text-center">My Dashboard</h1>
            <div class="container pb-5 row">

                <!-- new issues -->
                <div class="col-sm-6 col-md-5 col-lg-4 p-1" ng-hide="newIssues.length === 0">
                    <hr class="my-2">
                    <h4 class="text-center">New issues</h4>
                    <issues-list class="pb-5" object-id="newIssueAccordion" issues-array="newIssues" filter-method="queryFilter" sort="issuesSort" open-issue="openReadIssue" new-issue="newIssue" limit="5" is-dashboard="isDashboard"></issues-list>
                    <!-- <div id="newIssueAccordion">
                        <issue-card ng-repeat="issue in newIssues | orderBy : issuesSort | limitTo: 5" parent-id="newIssueAccordion"></issue-card>
                    </div> -->
                    <p class="small text-light" ng-show="newIssues.length > 5">There are {{newIssues.length - 5}} more issues</p>
                </div>

                <!-- new resolved issues -->
                <div class="col-sm-6 col-md-5 col-lg-4 p-1 " ng-hide="resolvedIssues.length === 0">
                    <hr class="my-2">
                    <h4 class="text-center">New resolved issues</h4>
                    <issues-list class="pb-5" object-id="oldIssueAccordion" issues-array="resolvedIssues" filter-method="queryFilter" sort="issuesSort" open-issue="openReadIssue" new-issue="newIssue" limit="5" is-dashboard="isDashboard"></issues-list>

                    <!-- <div id="oldIssueAccordion" class="mx-2">
                        <issue-card ng-repeat="issue in resolvedIssues | orderBy : issuesSort | limitTo: 5" parent-id="oldIssueAccordion"></issue-card>
                    </div> -->
                    <p class="small text-light" ng-show="resolvedIssues.length > 5">There are {{resolvedIssues.length - 5}} more issues</p>
                </div>

                <!-- new messages -->
                <div class="col-sm-6 col-md-5 col-lg-4 p-1" ng-hide="newMessages.length === 0">
                    <hr class="my-2">
                    <h4 class="text-center">New messages</h4>
                    <div id="newMsgAccordion">
                        <!-- <message-card ng-repeat="message in newMessages | filter : msgQueryFilter | orderBy : messagesSort | limitTo: 5" -->
                        <message-card ng-repeat="message in newMessages | orderBy : messagesSort | limitTo: 5"
                            parent-id="newMsgAccordion"></message-card>
                    </div>
                    <p class="small text-light" ng-show="newMessages.length > 5">There are {{newMessages.length - 5}} more messages</p>
                </div>

                <!-- open votes -->
                <div class="col-sm-6 col-md-5 col-lg-4 p-1" ng-hide="openPolls.length === 0">
                    <hr class="my-2">
                    <h4 class="text-center">Active polls</h4>
                    <div id="openPollsAccordion" class="">
                        <!-- <poll ng-repeat="poll in openPolls  | filter : openPollQueryFilter | orderBy : pollsSort"></poll> -->
                        <poll ng-repeat="poll in openPolls | orderBy : pollsSort | limitTo: 5" parent-id="openPollsAccordion"></poll>
                    </div>
                    <p class="small text-light" ng-show="openPolls.length > 5">There are {{openPolls.length - 5}} more polls</p>
                </div>

                <!-- closed votes -->
                <div class="col-sm-6 col-md-5 col-lg-4 p-1" ng-hide="closedPolls.length === 0">
                    <hr class="my-2">
                    <h4 class="text-center">Closed polls</h4>
                    <div id="closedPollsAccordion" class="">
                        <!-- <poll ng-repeat="poll in closedPolls | filter : closedPollQueryFilter  | orderBy : pollsSort"></poll> -->
                        <poll ng-repeat="poll in closedPolls | orderBy : pollsSort | limitTo: 5" parent-id="closedPollsAccordion"></poll>
                    </div>
                    <p class="small text-light" ng-show="closedPolls.length > 5">There are {{closedPolls.length - 5}} more polls</p>
                </div>

                <!-- no data      -->
                <div class="col-sm-6 col-md-5 col-lg-4 p-1">
                    <!-- new issues -->
                    <div class="mb-5" ng-show="newIssues.length === 0">
                        <hr class="my-2">
                        <h4 class="text-center">New issues</h4>
                        <div class="font-weight-bolder text-primary text-center">
                            No new issues
                        </div>
                    </div>

                    <!-- new resolved issues -->
                    <div class="mb-5" ng-show="resolvedIssues.length === 0">
                        <hr class="my-2">
                        <h4 class="text-center">New resolved issues</h4>
                        <div class="font-weight-bolder text-primary text-center">
                            No new resolved issues
                        </div>
                    </div>


                    <!-- new messages -->
                    <div class="mb-5" ng-show="newMessages.length === 0">
                        <hr class="my-2">
                        <h4 class="text-center">New messages</h4>
                        <div class="font-weight-bolder text-primary text-center">
                            No new messages
                        </div>
                    </div>

                    <!-- open votes -->
                    <div class="mb-5" ng-show="openPolls.length === 0">
                        <hr class="my-2">
                        <h4 class="text-center">Active polls</h4>
                        <div class="font-weight-bolder text-primary text-center">
                            No active polls you havn't voted yet
                        </div>
                    </div>

                    <!-- closed votes -->
                    <div class="mb-5" ng-show="closedPolls.length === 0">
                        <hr class="my-2">
                        <h4 class="text-center">Closed polls</h4>
                        <div class="font-weight-bolder text-primary text-center">
                            No new closed polls
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>