.iCommittee {
    font-family: 'Charm', cursive;
    font-weight: bold;
}

#brand {
    height: 1.5em;
    width: 2em;
}

.iCommittee.navbar-brand {
    font-size: 2em;
}

.iCommittee.title {
    font-size: 4em;

}


/* .jumbotron {
    background:transparent !important;
} */

.list-group-item,
.jumbotron,
.card {
    background-color: transparent !important;
}


body {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/assets/images/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgba(255, 255, 255, 0.5) !important;
}

.solid-line {
    position: relative;
    z-index: 1;
    border-top: 2px solid #dfdfdf;
    margin: 0 auto;
    padding-bottom: 2em;

}

.solid-line>p {
    /* to hi de the lines from behind the text, you have to set the background color the same as the container */
    display: inline;
    position: absolute;
    /* background: #fff; */
    top: -50%;
    left: 45%;
    margin-left: -50px;
    padding: 0 15px;
    z-index: -1;
}

.modal-body>#signup {
    width: 100%;
}

.myNavbar {
    color: rgba(255, 255, 255, .5) !important;
}

.myNavbar:hover {
    color: rgba(255, 255, 255, .75) !important;
    background-color: #343a40 !important;
}

.card {
    border-color: rgba(0, 0, 0, 1)
}

/* .messageButton {
    position: relative;
} */
/* .messageDate {
    display: inline;
    
} */

.fa-exclamation {
    color: coral;
}

.hide-me {
    visibility: hidden;
}

.btn-edit>i,
.btn-trash>i,
#priority i {
    font-size: 2em;
}

.btn-new>i {
    font-size: 3em;
}

.btn-edit:hover {
    color: cadetblue !important;
}

.btn-trash:hover,
.btn-new:hover {
    color: coral !important;
}

.btn-new,
.btn-edit,
.btn-trash {
    border-color: gray !important;
}

.btn-secondary:not(:disabled):not(.disabled).active {
    background-color: black !important;
}