.iCommittee {
    font-family: 'Charm', cursive;
    font-weight: bold;
}

#brand {
    height: 1.5em;
    width: 2em;
}

.iCommittee.navbar-brand {
    font-size: 2em;
}

.iCommittee.title {
    font-size: 4em;

}

.list-group-item,
.jumbotron,
.card {
    background-color: transparent !important;
}


body {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/assets/images/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    padding-top: 80px; 
    /* color: rgba(255, 255, 255, 0.5) !important; */
}

.solid-line {
    position: relative;
    z-index: 1;
    border-top: 2px solid #dfdfdf;
    margin: 0 auto;
    padding-bottom: 2em;

}

.solid-line>p {
    /* to hi de the lines from behind the text, you have to set the background color the same as the container */
    display: inline;
    position: absolute;
    /* background: #fff; */
    top: -50%;
    left: 45%;
    margin-left: -50px;
    padding: 0 15px;
    z-index: -1;
}

.modal-body>#signup {
    width: 100%;
}

.myNavbar {
    color: rgba(255, 255, 255, .5) !important;
}

.myNavbar:hover {
    color: rgba(255, 255, 255, .75) !important;
    background-color: #343a40 !important;
}

.card {
    border-color: rgba(0, 0, 0, 1)
}
.dashboard .card {
    border-color: inherit;
}

.fa-exclamation {
    color: coral;
}

.hide-me {
    visibility: hidden;
}

.btn-edit>i,
.btn-trash>i,
.btn-end-poll>i,
.btn-publish>i,
#priority i {
    font-size: 2em;
}

.btn-new>i {
    font-size: 3em;
}

#newPollForm .btn-new>i {
    font-size: 1rem;
}
.btn-edit:hover,
.btn-publish:hover {
    color: cadetblue !important;
}

.btn-trash:hover,
.btn-new:hover,
.btn-end-poll:hover {
    color: coral !important;
}

.color-coral {
    color: coral !important;
}

.btn-new,
.btn-edit,
.btn-trash,
.btn-end-poll,
.btn-publish {
    border-color: gray !important;
}

.btn-secondary:not(:disabled):not(.disabled).active {
    background-color: black !important;
}

#signupForm {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 3rem !important;

}

.field-icon {
    float: right;
    margin-right: 5px;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

fieldset {
    border-style: groove;
    border-width: 2px;
}

#collapsibleNavId1 {
    z-index: 99;
    color: rgba(255, 255, 255, 0.5) !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
}

#collapsibleNavId1>label {
    margin-left: 1rem !important;
}

@media (max-width: 768px) {
    #collapsibleNavId1>label {
        display: block;
    }
}

@media (min-width: 768px) {
    #collapsibleNavId1 {
        position: relative;
        top: 0;
        border: 0;
        background-color: transparent !important;
    }
}

.navbar .icon {
    display: none;
}

.appTextColor {
    color: rgba(255, 255, 255, 0.5) !important;
}

table {
    cursor: default;
}

.tenants-table tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.tenants-table tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.tenants-table tr:hover {
    color: #ddd !important;
    background-color: rgba(200, 200, 200, 0.2) !important;
}




.poll-answer-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.poll-answer-container button.classic.light.selected .count-bar {
    background-color: #fff;
}

.poll-result .count-bar {
    left: 0;
}


.poll-answer-container button.classic.light {
    color: #000;
    background-color: rgba(255, 255, 255, .55);
}

.poll-answer-container button.poll-voted {
    cursor: default;
}

.poll-answer-container button {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,.1);
    border: 0;
    border-bottom: 0 solid #dbdbdb;
    min-height: 60px;
    padding: 20px;
    margin: 0 3% 10px;
    position: relative;
    width: 94%;
    outline: 0;
    cursor: pointer;
}

.poll-answer-container button .text {
    z-index: 100;
    font-size: 16px;
    font-weight: 500;
}

.poll-answer-container button.classic.light {
    color: #000;
    background-color: rgba(255,255,255,.55);
}

.poll-result {
    opacity: 0;
    transition: opacity 1s ease-out;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: content-box;
}

.poll-result.show {
    opacity: 1;
}
.poll-answer-container button .poll-result {
    position: absolute;
    top: 0;
    right: 0;
}

.show {
    display: block !important;
}

.poll-answer-container button.classic.light.selected .count-bar {
    background-color: #fff;
}


.poll-result .count-bar.animated {
    transition: width 2s ease-out,height 2s ease-out;
    /* transition-delay: 2000ms; */
}

.poll-result .count-bar {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: #dbdbdb;
}

.poll-result .count-bar.horizontal {
    width: 0;
    height: 100%;
}

.poll-answer-container button .poll-result .count-bar-number {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.poll-answer-container button .poll-result .count-bar {
    visibility: visible;
}

.poll-answer-container button.classic .count-bar-number {
    right: 20px;
}

/* date picker */
.uib-datepicker-popup.dropdown-menu {
    background-color: #222222 ;
}

.w-0 {
    width: 0% !important;
}

.dashboard .card-header button:first-of-type {
    padding: 0 0.75rem
}

.dashboard .card-header {
    padding: 0 0.25rem;
}

.dashboard .jumbotron {
    padding: 0 2rem;
}

.btn-link:hover{
    text-decoration: none;
    color:#17a2b8;
}