<!DOCTYPE html>
<html ng-app="committeeApp">

<head>
    <title>Page Title</title>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-route.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="app/committeeApp.js"></script>
    <script src="app/shared/navbar/navbarDir.js"></script>
    <script src="app/shared/navbar/navbarCtrl.js"></script>

    <script src="app/shared/navbar/bottomNavbarDir.js"></script>

    <script src="app/login/loginCtrl.js"></script>
    <script src="app/messages/messagesCtrl.js"></script>
    


    <script src="app/model/UserSrv.js"></script>
    <!-- <script src="nameCtrl.js"></script> -->

    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
    <link rel="stylesheet" href="committee.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
</head>

<body>
    <header>
        <navbar></navbar>
    </header>

    <ng-view></ng-view>


    <div id="loginForm" class="container modal" ng-controller="loginCtrl">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header jumbotron">
                    <h4 class="modal-title w-100 text-center">Login to <span class="iCommittee">iCommitte</span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>


                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" ng-show="invalidLogin">
                        <strong>Invalid Login</strong> incorrect email or password
                    </div>

                    <form role="form">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" ng-model="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" ng-model="pwd">
                        </div>
                        <button type="button" class="btn btn-success btn-block" data-dismiss="modal" ng-click="login()">Sign In</button>
                    </form>

                    <br>
                    <br>

                    
                    <div class=" solid-line">
                        <p class=" text-center">New to <span class="iCommittee">iCommittee</span>?</p>
                    </div>

                    <a id="signup" href="/signup" class="btn btn-primary">Create your <span class="iCommittee">iCommitte</span>
                        account</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <bottom-navbar></bottom-navbar>
    </footer>


</body>

</html>