<div id="resetForm" class="container my-5 col-sm-10 col-md-5 col-lg-4 col-xl-3 py-4 rounded ">
    <h3 class="text-center border-bottom pb-2">Reset your password</h3>
    <div class="container mx-auto">
        <form role="form">

            <div ng-show="successReset">
                <div class="alert alert-success mt-2" role="alert">
                    Reset password email sent successfully!
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-3" ng-click="login()">Return to Sign
                    in</button>
            </div>

            <div ng-hide="successReset">
                <div class="form-group">
                    <label class="small" for="email">Enter your email address and we will send you a link to reset your
                        password.</label>
                    <input type="email" class="form-control" id="email" ng-model="email" required
                        placeholder="Enter your email address" />
                </div>

                <button type="submit" class="btn btn-success btn-block mb-3" ng-click="reset()">Send password reset
                    email</button>
            </div>
        </form>
    </div>
</div>