<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

    <button class="btn btn-link navbar-brand iCommittee " ng-click="navigate()">
        <img class="rounded-circle " id="brand" src="assets/images/Infrastructure-Committee.jpg" /> iCommittee</button>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto  mt-lg-0" ng-show="isUserLoggedIn()">
            <li class="nav-item">
                <a class="nav-link" href="#!/myCommittee/dashboard/{{isCommitteeMember()? 'committee' : 'tenant'}}"
                    ng-class="{active:isOnDashboard()}">Dashboard</a>
            </li>
            <li class="nav-item" ng-show="isCommitteeMember()">
                <a class="nav-link" href="#!/myCommittee/tenants" ng-class="{active:isOnTenants()}">Tenants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/myCommittee/messages" ng-class="{active:isOnMessages()}">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/myCommittee/issues" ng-class="{active:isOnIssues()}">Issues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/myCommittee/polls" ng-class="{active:isOnPolls()}">Polls</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-lg-0">
            <li class="nav-item" ng-hide="isUserLoggedIn()">
                <a class="nav-link" href="#!/myCommittee/login" >Login</a>
            </li>
            <li class="nav-item" ng-hide="isUserLoggedIn()">
                <a class="nav-link" href="#!/myCommittee/signup">Sign Up</a>
            </li>

            <li class="nav-item dropdown" ng-show="isUserLoggedIn()">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="dropdownId" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Hello, {{getUserName()}}</a>
                <div class="dropdown-menu bg-dark myNavbar" aria-labelledby="dropdownId">
                    <a class="dropdown-item myNavbar" href="#!/myCommittee/account">Account</a>
                    <a class="dropdown-item myNavbar" href="javascript:void(0)" ng-click="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>