<div class="container dashboard">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 text-center">My Dashboard</h1>
            <div class="container pb-5 row">
                <!-- new issues -->
                <div class="col-sm-6 col-md-5 col-lg-4 p-1" ng-hide="newIssues.length === 0">
                    <hr class="my-2">
                    <h4 class="text-center">New issues</h4>
                    <div id="newIssueAccordion">
                        <!-- <issue-card ng-repeat="issue in newIssues | filter : newIssueQueryFilter | orderBy : issuesSort | limitTo: 5" -->
                        <issue-card ng-repeat="issue in newIssues | orderBy : issuesSort | limitTo: 5" parent-id="newIssueAccordion"></issue-card>
                    </div>
                </div>

                <!-- new issues -->
                <div class="col-sm-6 col-md-5 col-lg-4 p-1 " ng-hide="weekOldIssues.length === 0">
                    <hr class="my-2">
                    <h4 class="text-center">Week old issues</h4>
                    <div id="oldIssueAccordion" class="mx-2">
                        <!-- <issue-card ng-repeat="issue in weekOldIssues | filter : openOldIssueQueryFilter | orderBy : issuesSort | limitTo: 5" -->
                        <issue-card ng-repeat="issue in weekOldIssues | orderBy : issuesSort | limitTo: 5" parent-id="oldIssueAccordion"></issue-card>
                    </div>
                </div>

                <!-- open polls -->
                <div class="col-sm-6 col-md-5 col-lg-4 p-1" ng-hide="openPolls.length === 0">
                    <hr class="my-2">
                    <h4 class="text-center">Open polls</h4>
                    <div id="pollsAccordion" class="">
                        <poll ng-repeat="poll in openPolls | filter : openPollQueryFilter | orderBy : pollsSort | limitTo: 5"
                            parent-id="pollsAccordion"></poll>
                    </div>
                </div>

                <!-- no data      -->
                <div class="col-sm-6 col-md-5 col-lg-4 p-1">
                    <!-- new issues -->
                    <div class="mb-5" ng-show="newIssues.length === 0">
                        <hr class="my-2">
                        <h4 class="text-center">New issues</h4>
                        <div class="font-weight-bolder text-primary text-center">
                            No new issues
                        </div>
                    </div>

                    <!-- new resolved issues -->
                    <div class="mb-5" ng-show="weekOldIssues.length === 0">
                        <hr class="my-2">
                        <h4 class="text-center">Week old issues</h4>
                        <div class="font-weight-bolder text-primary text-center">
                            No open week old issues
                        </div>
                    </div>

                    <!-- open polls -->
                    <div class="mb-5" ng-show="openPolls.length === 0">
                        <hr class="my-2">
                        <h4 class="text-center">Active polls</h4>
                        <div class="font-weight-bolder text-primary text-center">
                            No open polls
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>