<div class="container mb-5">
    <h1 class="">Issues</h1>
    <form class="form-inline  ">
        <input type="text" class="form-control col-sm-8 col-md-4 align-top align-self-baseline" placeholder="Search"
            ng-model="query">
        <nav class="navbar navbar-expand-md align-self-baseline">

            <!-- navbar-toggler  - will hide button on right screen size-->
            <a class="dropdown-toggle navbar-toggler d-lg-none bg-dark" href="javascript:void(0)" id="filterLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</a>
            <div class="collapse navbar-collapse dropdown-menu pl-2 rounded appTextColor border-light" id="collapsibleNavId1"
                aria-labelledby="filterLink">
                <label class="form-check-label justify-content-start mr-3">
                    <input type="checkbox" class="form-check-input" ng-model="importance">Urgent
                </label>
                <label class="form-check-label justify-content-start mr-3">
                    <input type="checkbox" class="form-check-input" ng-model="unread">Unread
                </label>
                <label class="form-check-label justify-content-start mr-3">
                    <input type="checkbox" class="form-check-input" ng-model="myIssues">My issues
                </label>
                <form>
                    <div class="form-group justify-content-start mr-3">
                        <label for="sort">Sort:</label>
                        <select id="sort" ng-model="sort" class="form-control ml-2 bg-dark appTextColor border border-0" >
                            <!-- descending order -->
                            <option value="-postingDate" selected>Date</option>
                            <option value="priority">Importance</option>
                        </select>
                    </div>
                </form>
            </div>
        </nav>
    </form>
    <hr class="my-2">

    <div class="mb-1">

        <!-- by spec only tenant can add new issue, actually everyone can
                ng-show="isCommitteeMember()"  -->
        <!-- <button class="btn btn-new text-danger py-0 px-1 " data-toggle="modal" rel="tooltip" title="Add new issue"
            tooltip type="button" data-target="#newIssueForm" ng-click="newIssueOpen()">
            <i class="fas fa-plus"></i>
        </button> -->
        <span class="align-middle mb-0">{{getUnreadIssuesCount()}} unread issues, {{getOpenIssuesCount()}} open issues,
            {{getMyIssuesCount()}} issues I opened</span>
    </div>

    <issues-list class="pb-5" object-id="issueAccordion" issues-array="issues" filter-method="queryFilter" sort="sort" open-issue="openReadIssue" new-issue="newIssue"></issues-list>
</div>
