

<div class="col-4">

    <div class="poll-answer-container with-text">
        <button class="classic light "  ng-click="onVote($event)">
            <div class="text">my choice</div>
            <div class="poll-result show">
                <div class="count-bar horizontal animated"></div>
                <div class="count-bar-number"></div>
            </div>
        </button>
    </div>

    <div class="poll-answer-container with-text">
        <button class="classic light " ng-click="onVote($event)">
            <div class="text">not my choice</div>
            <div class="poll-result show">
                <div class="count-bar horizontal animated"></div>
                <div class="count-bar-number"></div>
            </div>
        </button>
    </div>

</div>