<div class="card">
    <div class="card-header" id="heading{{$index}}">
        <h5 class="mb-0">
            <button class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapse{{$index}}"
                aria-expanded="true" aria-controls="collapse{{$index}}" ng-click="onPollOpen(poll)" ng-class="{'font-weight-bolder': poll.wasVoted == false }">
                <div class="row mx-0" ng-show="!isDashboard">
                    <span class="col-sm-8 col-md-9 col-lg-10">
                        {{poll.title}}
                    </span>
                    <div class="row col-sm-4 col-md-3 col-lg-2 justify-content-between pl-3 mx-0 pr-0 small">
                        <span>Due date: {{poll.dueDate | myDate}}</span>
                        <span>Created at: {{poll.postingDate | myDate}}</span>
                    </div>
                </div>
                <div class="mx-0" ng-show="isDashboard">
                    <span class="col-sm-8 col-md-9 col-lg-10">
                        {{poll.title}}
                    </span>
                    <div class="row justify-content-between pl-3 mx-0 pr-0 small">
                        <span>Due date: {{poll.dueDate | myDate}}</span>
                        <span>Created at: {{poll.postingDate | myDate}}</span>
                    </div>
                </div>
            </button>
        </h5>
    </div>

    <div id="collapse{{$index}}" class="collapse " aria-labelledby="heading{{$index}}"
        data-parent="#pollsAccordion">
        <div class="card-body">
            <p>{{poll.details}}</p>
            <div class="container " ng-class="{'col-sm-6 col-md-5 col-lg-4':!isDashboard}">
                <poll-answer is-opened="isOpen(poll)" answer-pcnt="{{answer.optionVotesPcnt}}" poll-data="poll"
                    poll-answer-data="answer" is-selected-answer="poll.optionVoted== $index" show-result="poll.wasVoted || !poll.isActive || isDashboard "
                    vote="onVote(poll, answer)" ng-repeat="answer in poll.votes"></poll-answer>
            </div>
            <p class="text-light">{{poll.posterName}}</p>

            <div>
                <button class="btn float-right text-primary m-0 p-1 btn-edit" ng-show="isCommitteeMember() && poll.isActive && !isDashboard"
                    data-toggle="tooltip" title="Edit poll" tooltip ng-click="editPoll(poll)">
                    <i class="fas fa-edit "></i>
                </button>
                <button class="btn float-right text-danger m-0 p-1 btn-end-poll" ng-show="isCommitteeMember() && poll.isActive"
                    data-toggle="tooltip" title="End poll" tooltip ng-click="endPoll(poll)">
                    <i class="fas fa-hourglass-end"></i>
                </button>
            </div>
        </div>
    </div>
</div>